body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

.highlight {
	background-color: red;
}

ins {
	background-color: #d4edda;
	/* color: #155724; */
	/* color: yellow; */
	background-color: yellow;
}
del {
	background-color: #f8d7da;
	/* color: #721c24; */
	/* color: red; */
	background-color: red;
}
